###  Arithmetic Operators (+, -, *, /, //, %, **)

In [1]:
# Q1. John has 6 apples and 7 bananas. How many fruits does John have?


Apple = 6
Banana = 7

total_fruits = Apple+ Banana

print(f'John has {total_fruits} fruits')

John has 13 fruits

In [8]:
#  Q2. Emma read 15 pages yesterday and 10 pages today. Did she read more than 20 pages in total?

pages_yesterday = 15
pages_today = 10
pages_yesterday = 15
print(pages_yesterday+ pages_today)

25

In [9]:
#Q4. Mike had 30 candies and gave 12 to his friend. How many does he have now?
candies = 30
candies_given = 12
print(candies - candies_given)

18

In [10]:
#  Q5. Sarah bought 5 pens at $3 each. How much did she spend?

pens = 5
price_per_pen = 3
print(pens * price_per_pen)

15

In [15]:
#  Q6. There are 45 cookies equally divided among 5 kids. How many does each get?

no_of_cookies = 45
no_of_kids = 5
print('no of cookies per kid:' + str(no_of_cookies/no_of_kids))

no of cookies per kid:9.0

In [18]:
#Q13. A chocolate costs $2. You have $9. Can you buy 5 chocolates
chocolate_cost = 2
money= 9
no_of_chocolates = 5
total_cost = chocolate_cost * no_of_chocolates
print(total_cost<= money)

False

In [20]:
#  Q16. Peter has 5 books, each weighing 1.2 kg. Is the total weight more than 6 kg?

no_of_books = 5
weight_per_book= 1.2
total_weight = no_of_books * weight_per_book
print(total_weight >6)

False

In [22]:
# Q20. A movie ticket costs $12. Can you buy 4 with $50?


Ticket_cost = 12
money = 50
print(money >= Ticket_cost*4)

True

In [23]:
# Q22. Is the difference between 100 and 37 greater than 60?
diff = 100- 37
print(diff > 60)

True

In [24]:
#  Q23. Does dividing 81 by 9 result in a number greater than 8?
result = 81/9
print(result> 8)

True

In [25]:
#  Q24. Are 5 multiplied by 6 and 30 equal?
result = 5* 6
print(result == 30)

True

In [26]:
#  Q26. A basket holds 18 apples. If you eat 6, do you have fewer than 15 left?

baskt_apple = 18
eaten_apple = 6
print(baskt_apple - eaten_apple < 15)

True

In [27]:
# Q27. Sam travels 120 km in 2 hours. Is his speed 60 km/hr?
distance = 120
time = 2
print(distance/ time ==60)

True

In [30]:
#  Q28. Is 7 + 3 * 2 equal to 20?
result = 7 + 3*2
print(result ==20)

False

In [31]:
# Q29. Jane bought 2 pens and 3 pencils. If a pen is $2 and pencil $1, did she spend $9?

no_of_pens = 2
no_of_pencils = 3
cost_pen = 2
cost_pencil = 1
print((no_of_pens * cost_pen)+(no_of_pencils * cost_pencil)==9)

False

In [32]:
# Q30. You have 3 boxes, each holding 12 balls. Are total balls more than 35?

no_of_boxes = 3
balls_per_box = 12
print(no_of_boxes*balls_per_box>35)

True

In [33]:
#  Q34. Does subtracting 20 from 50 give 30?
result = 50-20
print(result == 30)

True

In [34]:
# Q35. Are 10 + 15 and 5 * 5 equal?

result1 = 10+15
result2 = 5* 5
print(result1 == result2)

True

In [35]:
#  Q36. If a packet has 48 candies, can 6 kids get more than 7 each?

no_of_candies= 48
no_of_kids = 6
print((no_of_candies/no_of_kids) > 7)

True

In [36]:
#Q41. Multiply 4 by 4. Is the result less than 20?
mul = 4*4
print(mul< 20)

True

In [37]:
#  Q42. Add 13 and 7. Is the result divisible by 5?
add = 13+ 7
print(add % 5 ==0)

True

In [38]:
#  Q43. 20 apples are equally shared between 5 students. Does each get 4?

no_of_apples = 20
no_of_students = 5
print(no_of_apples/no_of_students == 4)

True

In [39]:
#  Q44. Subtract 15 from 60. Is the result equal to 45?

sub = 60- 15
print(sub == 45)

True

In [40]:
#  Q46. If you double 12, is the result more than 25?

num = 12
print(num * 2 >25)

False

In [41]:
#  Q47. Are 100 divided by 4 and 25 equal?
num = 100
print(num/4 == 25)

True

In [42]:
#  Q50. Add 5.5 and 4.5. Is the result 10?
Add = 5.5 + 4.5
print(Add == 10)

True

In [43]:
#  Q51. A number is 25. If you divide it by 4 using floor division, is the result 6?
num = 25//4
print(num == 6)

True

In [44]:
#  Q52. What is the remainder when 29 is divided by 5? Is it equal to 4?
remainder = 29%5
print(remainder == 4)

True

In [45]:
#  Q53. Is 3 ** 4 equal to 81?
print(3**4 == 81)

True

### 2. Comparison Operators (==, !=, >, <, >=, <=)

In [46]:
# Q3. A bag contains 12 red balls and 8 blue balls. Is the number of red balls greater than blue balls?

no_of_red_balls = 12
no_of_blue_balls = 8
print(no_of_red_balls > no_of_blue_balls)

True

In [47]:
#  Q7. Tom scored 89 in math and 76 in science. Did he score more than 160 in total?

maths =  89
science = 76
print(maths + science>160)

True

In [48]:
# Q8. A store sells apples at $2.50 each. If you buy 4, is the total cost more than $10?
apple_cost = 2.50
no_of_apples = 4
print(apple_cost * no_of_apples> 10)

False

In [50]:
# Q9. Alice has $100 and buys 3 books for $25 each. Will she have any money left?
amount = 100
book_cost = 25
no_of_books = 3
print(amount>(book_cost * no_of_books))

True

In [51]:
#  Q10. A rectangle has length 10 and width 4. Is its area greater than its perimeter?
length = 10
width = 4
area = length * width
perimeter = 2*(length+width)
print(area > perimeter)

True

In [52]:
#  Q11. Two friends have 45 and 55 marbles respectively. Do they have equal number of marbles?
friend1_marbles = 45
friend2_marbles = 55
print(friend1_marbles == friend2_marbles)

False

In [53]:
 # Q12. A car travels 60 km in 1 hour and a bike 40 km in the same time. Is the car faster?

car_speed = 60
bike_speed = 40
print(car_speed > bike_speed)

True

In [54]:
#  Q15. Two numbers are 13 and 17. Is their sum an even number?
num1 = 13
num2 = 17
print((num1+ num2)%2==0)

True

In [55]:
# Q17. A triangle has sides 3, 4, and 5. Is it a right-angled triangle?
len1 = 3
len2 = 4
len3 = 5
is_right_traingle =(len1**2 +len2 **2 == len3**2)
print(is_right_traingle)

True

In [56]:
# Q18. Jenny had $50, bought items worth $35. Does she have less than $20 left?

amount =50
item_cost = 35
print(amount-item_cost < 20)

True

In [57]:
#  Q19. A worker earns $80 per day. Is earning from 6 days more than $500?
daily_amount = 80
earning_from_6_days = daily_amount*6
print(earning_from_6_days >500)

False

In [58]:
#  Q21. If a bottle contains 750ml, do 4 bottles hold more than 3 liters?

bottle_capacity =0.750
no_of_bottles = 4
print(bottle_capacity *no_of_bottles > 3)

False

In [59]:
# Q25. Do two squares of side 4 and 5 have the same area?
side1 = 4
side2 = 5
print(side1 **2 == side2**2)

False

In [61]:
# Q31. A triangle has angles 60, 60, and 60. Do they sum to 180?
angle1 ,angle2, angle3 =60,60,60
print(angle1 + angle2 +angle3 == 180)

True

In [62]:
#  Q32. If you split 100 into two equal parts, is one part greater than 60?
print(100/2 >60)

False

In [63]:
#  Q33. Mike earned $400 in 8 days. Did he earn $50 daily?
daily_amount =400/8
print(daily_amount == 50)

True

In [65]:
#  Q37. Compare 5 ** 2 and 25. Are they the same?
print(5**2 == 25)

True

In [66]:
# Q38. Is (10 + 2) * 3 greater than 35?
print((10 +2) *3 >35)

True

In [67]:
#  Q39. Do 8 and 8.0 compare equal?
print(8==8.0)

True

In [68]:
#  Q40. A rope is cut into 3 pieces of 10, 15, and 25 meters. Is the total 50?
print(10+15+25 == 50)

True

In [69]:
#  Q45. Compare 3 * 3 + 1 and 10. Are they equal?
print( 3 * 3 + 1 ==10)

True

In [70]:
#  Is (9 - 3) * 2 greater than 10?
print((9 - 3) * 2 >10)

True

### 3. Logical Operators (and, or, not)

In [2]:
# Q56. Given a = 10 and b = 5, is (a > 5 and b < 10) True?
a = 10
b = 5
print((a > 5 and b < 10))

True

In [3]:
#  Q57. If x = 8, is not (x > 10) True?
x = 8
print(not(x > 10))

True

In [4]:
#  Q58. Is 5 < 3 or 7 == 7 True?

print(5 < 3 or 7 == 7 )

True

###  4. Assignment Operators (=, +=, -=, *=)

In [5]:
# Q54. If x = 10, and you do x += 5, is the new value of x equal to 15?

x = 10
x += 5
print(x ==15)

True

In [6]:
#  Q55. If y = 20, and you do y -= 7, is the result less than 15?
y = 20
y -= 7
print(y <15)

True

In [7]:
#  Q59. Given x = 12, and x *= 2, is x equal to 24?

x = 12
x*= 2
print(x == 24)

True

###  5. Operator Precedence (Mixed Operators)

In [8]:
# Q28. Is 7 + 3 * 2 equal to 20?

print(7 + 3 * 2 == 20)

False

In [9]:
# Q45. Compare 3 * 3 + 1 and 10. Are they equal?
print(3 * 3 + 1  == 10)

True

In [10]:
# Q48. Is (9 - 3) * 2 greater than 10?
print((9 - 3) * 2 > 10)

True

In [11]:
#  Q60. Evaluate the expression 4 + 3 * 2 - 1. Is the result 9?
print(4 + 3 * 2 - 1 ==9)

True

### 6. Bitwise Operators (&, |, ^, ~, <<, >>)

In [12]:
# Q61. If a = 6 and b = 3, is a & b equal to 2?
a = 6
b = 3
print(a & b == 2)

True

In [13]:
# Q62. If a = 6 and b = 3, is a | b equal to 7?

a = 6
b = 3
print(a | b ==7)

True

In [14]:
#  Q63. If a = 6 and b = 3, is a ^ b equal to 5?
a = 6
b = 3
print(a ^ b == 5)

True

In [15]:
#  Q64. If a = 4, is ~a equal to -5?
a = 4
print(~a ==-5)

True

In [16]:
#  Q65. If a = 5, is a << 1 equal to 10?

a = 5
a = a<<1
print(a == 10)

True

In [17]:
#  Q66. If a = 8, is a >> 2 equal to 2?
a = 8
print(a >> 2 ==2)

True

###  7. Identity Operators (is, is not)

In [18]:
# Q67. If x = [1, 2, 3] and y = x, is x is y True?

x = [1,2,3]
y =x
print(x is y)

True

In [19]:
#  Q68. If a = [10, 20] and b = [10, 20], is a is not b True?

a = [10,20]
b = [10,20]
print(a is not b)

True

###  8. Membership Operators (in, not in)

In [21]:
# Q69. Is 'a' in 'data' True?

print('a' in 'data')

True

In [22]:
# Q70. Is 5 not in [1, 2, 3, 4] True?

print(5 not in [1,2,3,])

True