### 20 Dictionary Comprehension Questions

1 Create a dictionary from a list [1, 2, 3, 4, 5] where each element is the key and its cube is the value.

In [1]:
def cube(lst):
    return {x:x**3 for x in lst}

In [3]:
cube([1,2,3,4,5])

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

2 From a list of words ["apple", "banana", "cherry"], generate a dictionary with words as keys and their lengths as values.

In [7]:
def words(lst):
    return {x:len(x) for x in lst}

In [8]:
words(["apple", "banana", "cherry"])

{'apple': 5, 'banana': 6, 'cherry': 6}

3 Given a list [10, 20, 30, 40], create a dictionary with index as key and element as value.

In [11]:
def index_key(lst):
    return ({i:lst[i] for i in range(len(lst))})

In [12]:
index_key([10,20,30,40])

{0: 10, 1: 20, 2: 30, 3: 40}

4 From a list [2, 4, 6, 8], generate a dictionary with numbers as keys and "Even" as values.

In [13]:
def even_dict(lst):
    return {x:'Even' for x in lst if x%2==0}

In [14]:
even_dict([2,4,6,8])

{2: 'Even', 4: 'Even', 6: 'Even', 8: 'Even'}

5 Given a list of names ["Alice", "Bob", "Charlie"], create a dictionary with names as keys and the first letter as value.

In [15]:
def names(lst):
    return {x:x[0] for x in lst}

In [16]:
names(["Alice", "Bob", "Charlie"])

{'Alice': 'A', 'Bob': 'B', 'Charlie': 'C'}

6 Convert a tuple (1, 2, 3, 4) into a dictionary with number as key and its double as value.

In [17]:
def dict_tup(tup):
    return {x:x*2 for x in tup}

In [18]:
dict_tup((1,2,3,4))

{1: 2, 2: 4, 3: 6, 4: 8}

7 From a tuple ("x", "y", "z"), create a dictionary where keys are elements and values are uppercase versions.

In [19]:
def dict_tuple(tup):
    return {x:x.upper() for x in tup}

In [20]:
dict_tuple(("x","y","z"))

{'x': 'X', 'y': 'Y', 'z': 'Z'}

8 Given a tuple of numbers (5, 10, 15, 20), create a dictionary with numbers as keys and "Multiple of 5" as value.

In [21]:
def tup_num(tup):
    return {x:"Multiple of 5" for x in tup if x%5==0}

In [22]:
tup_num((5,10,15,20))

{5: 'Multiple of 5',
 10: 'Multiple of 5',
 15: 'Multiple of 5',
 20: 'Multiple of 5'}

9 From a tuple ("a", "e", "i", "o", "u"), create a dictionary with vowel as key and its ASCII code as value.

In [23]:
def ASCII_dict(tup):
    return {x:ord(x) for x in tup}

In [24]:
ASCII_dict(("a","e","i","o","u"))

{'a': 97, 'e': 101, 'i': 105, 'o': 111, 'u': 117}

10 Given two tuples (1, 2, 3) and (10, 20, 30), create a dictionary mapping first tuple elements to second tuple elements.

In [44]:
def tup(t1,t2):
    return({x:y for x,y in zip(t1,t2)})

In [45]:
tup((1,2,3),(10,20,30))

{1: 10, 2: 20, 3: 30}

11 Given a dictionary {"a": 1, "b": 2, "c": 3}, create a new dictionary with keys same but values squared

In [29]:
def square_dict(dict):
    return {k:v**2 for k,v in dict.items()}

In [30]:
square_dict({"a":1,"b":2,"c":3})

{'a': 1, 'b': 4, 'c': 9}

12 From a dictionary {"cat": 4, "spider": 8}, generate a dictionary with animal name as key and "Legs: X" as value.

In [35]:
def animal_legs(dict):
    return {k:f"Legs: {v}" for k,v in dict.items()}

In [36]:
animal_legs({"cat":4,"spider":8})

{'cat': 'Legs: 4', 'spider': 'Legs: 8'}

13 Create a dictionary from {"x": 5, "y": 10, "z": 15} where only items with values greater than 7 are included.

In [41]:
def greater_than_7(dict):
    return {k:v for k,v in dict.items() if v>7}

In [42]:
greater_than_7({"x":5,"y":10,"z":15})

{'y': 10, 'z': 15}

14 From a dictionary {"math": 90, "science": 80, "history": 70}, generate a dictionary where subjects are keys and "Pass"/"Fail" is value (pass ≥ 75).

In [50]:
def pass_fail(dict):
    return {k:'Pass' if x>=75 else 'Fail' for k,x in dict.items()}

In [51]:
pass_fail({"math": 90, "science": 80, "history": 70})

{'math': 'Pass', 'science': 'Pass', 'history': 'Fail'}

15 Given a dictionary {"pen": 20, "book": 50, "eraser": 5}, create a dictionary with items as keys and price+10 as value.

In [52]:
def things(dict):
    return {k:v+10 for k,v in dict.items()}

In [53]:
things({"pen": 20, "book": 50, "eraser": 5})

{'pen': 30, 'book': 60, 'eraser': 15}

16 Convert a set {1, 2, 3, 4} into a dictionary with element as key and its factorial as value.

In [1]:
import math
def set_dict(s):
    return {x:math.factorial(x) for x in s}

In [2]:
set_dict({1,2,3,4,5})

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

17 From a set {"red", "green", "blue"}, create a dictionary with color as key and length of color name as value.

In [3]:
def color_length(s):
    return {x:len(x) for x in s}

In [4]:
color_length({"red", "green", "blue"})

{'blue': 4, 'green': 5, 'red': 3}

18 Given two sets {1, 2, 3} and {10, 20, 30}, create a dictionary mapping first set elements to second set elements.

In [5]:
def elements(t1,t2):
    return {x:y for x,y in zip(t1,t2)}

In [6]:
elements({1,2,3},{10,20,30})

{1: 10, 2: 20, 3: 30}

19 From a set of numbers {2, 3, 5, 7}, generate a dictionary with prime number as key and "Prime" as value.

In [7]:
s = {2, 3, 5, 7}

prime_dict = {x: "Prime" for x in s}

print(prime_dict)

{2: 'Prime', 3: 'Prime', 5: 'Prime', 7: 'Prime'}

20 From a set {"car", "bike", "bus"}, create a dictionary with vehicle as key and uppercase as value.

In [8]:
def color_length(s):
    return {x:len(x) for x in s}

In [9]:
color_length({"red", "green", "blue"})

{'blue': 4, 'green': 5, 'red': 3}

In [ ]:
import copy

In [15]:
import copy

print("without using  copy module")
a = [1,2,3,4,5]
print(a)
b = a
print(a)
b.append(6)
print(a,b)

print()
print("After using copy.copy() module")

c=copy.copy(a)
print(c)
c.append(6)
print(a,c)
print()


a = [[1,2],[3,4]]
print(a)
b = copy.copy(a)
b[0][0] = 10
print(a,b)
print()
print("After using copy.deepcopy() module")

a = [[1,2],[3,4]]
print(a)
b = copy.deepcopy(a)
b[0][0] = 100
print(a,b)

without using  copy module
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

After using copy.copy() module
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6, 6]

[[1, 2], [3, 4]]
[[10, 2], [3, 4]] [[10, 2], [3, 4]]

After using copy.deepcopy() module
[[1, 2], [3, 4]]
[[1, 2], [3, 4]] [[100, 2], [3, 4]]