##  Foundational List Questions

###  Basic List Usage

In [ ]:
# 1 How do you create a list of 3 fruits: "apple", "banana", and "cherry"?

lst=["apple", "banana", "cherry"]
print(lst)

['apple', 'banana', 'cherry']

In [3]:
# 2 What is the output of len(["a", "b", "c", "d"])?

lst =["a", "b", "c", "d"]
print(len(lst))

4

In [4]:
# 3 How do you access the first item in the list colors = ["red", "green", "blue"]?

colors = ["red", "green", "blue"]
print(colors[0])

red

In [ ]:
#4  How do you get the last item from numbers = [10, 20, 30] using a negative index?

numbers =[10,20,30]
print(numbers[-1])

30

In [7]:
# 5 What does colors[1] return from colors = ["red", "green", "blue"]?

colors = ['red','green','blue']
print(colors[1])

green

###  List Modification Methods

In [10]:
# 6  Use append() to add "orange" to the list fruits = ["apple", "banana"].

fruits = ["apple", "banana"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'orange']

In [12]:
# 7 Use insert() to add "grapes" at index 1 in the list fruits = ["apple", "banana"].

fruits = ["apple", "banana"]
fruits.insert(1,'kiwi')
fruits

['apple', 'kiwi', 'banana']

In [14]:
# 8 Use extend() to add ["kiwi", "mango"] to the end of fruits = ["apple", "banana"].


fruits = ['apple','banana']
fruits.extend(["kiwi", "mango"])
fruits

['apple', 'banana', 'kiwi', 'mango']

###  Removing Elements

In [16]:
# 9 Use remove() to delete "banana" from the list ["apple", "banana", "grapes"].


fruits = ["apple", "banana", "grapes"]
fruits.remove('banana')
fruits

['apple', 'grapes']

In [17]:
# 10 Use pop() to remove the last item from the list ["a", "b", "c"]. What is the list after this?

lst = ['a','b','c']
lst.pop()
print(lst)

['a', 'b']

In [18]:
# 11 What is the output of x = ["a", "b", "c"]; x.pop(1)? What will be the new list?


x = ['a','b','c']
x.pop(1)
print(x)

['a', 'c']

In [19]:
# 12  What happens if you call remove("z") on the list ["x", "y"] and "z" is not in it?


lst = ['x','y']
lst.remove('z')
print(lst)

ValueError: list.remove(x): x not in list

when we are remove an element in the list it throw the error. for the we can use the dicard()

###  Searching and Counting

In [20]:
# 13 Use index() to find the position of "python" in the list ["java", "python", "c++"].

lst = ["java", "python", "c++"]
lst.index('python')

1

In [21]:
# 14 Use count() to count how many times "apple" appears in ["apple", "banana", "apple", "cherry"].


lst = ["apple", "banana", "apple", "cherry"]

print(lst.count('apple'))

2

###  Sorting and Reversing

In [23]:
# 15 Sort the list marks = [60, 90, 70] in ascending order using sort().


marks = [60,90,70]
marks.sort()
print(marks)

[60, 70, 90]

In [24]:
# 16 Sort the list marks = [60, 90, 70] in descending order using sort(reverse=True)

marks = [60,90,70]
marks.sort(reverse=True)
print(marks)

[90, 70, 60]

In [13]:
# 17 Use reverse() to reverse the list ["a", "b", "c"].

lst =  ["a", "b", "c"]
lst.reverse()
print(lst)

['c', 'b', 'a']

In [14]:
# 18 What is the difference between sort() and reverse()?
nums = [3, 1, 4, 2]
nums.sort()       # Ascending order
print(nums)       # [1, 2, 3, 4]

nums.sort(reverse=True)  # Descending order
print(nums)              # [4, 3, 2, 1]

[1, 2, 3, 4]
[4, 3, 2, 1]

###   Copying Lists

In [ ]:
# 19 Create a copy of a = [1, 2, 3] using copy() method.
a = [1,2,3]
a.copy()
a

[1, 2, 3]

In [11]:
# 20 What is the difference between a = b and a = b.copy()?
b = [1, 2, 3]
a = b       # No copy, just reference
a.append(4)

print(b)  # [1, 2, 3, 4]  ← b also changes
print(a)  # [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
b = [1, 2, 3]
a = b.copy()  # Creates a new list
a.append(4)

print(b)  # [1, 2, 3]  ← unaffected
print(a)  # [1, 2, 3, 4]

# can show a visual memory diagram of a = b vs a = b.copy() so it’s crystal clear

[1, 2, 3]
[1, 2, 3, 4]

### Clearing List

In [ ]:
# 21 Use clear() to remove all items from a = [1, 2, 3].
a = [1,2,3]
a.clear()
a

[]

### List Arithmetic (Concatenation and Repetition)

In [ ]:
# 22 What is the result of [1, 2] + [3, 4]?

[1, 2] + [3, 4]

[1, 2, 3, 4]

In [31]:
# 23 What is the result of ["x"] * 3?

["x"] * 3

['x', 'x', 'x']

### Membership Test

In [32]:
# 24 Use the in keyword to check if "AI" exists in the list ["Python", "ML", "AI"].

lst =["Python", "ML", "AI"]

print("AI" in lst)

True

In [33]:
# 25 What will "SQL" not in ["Python", "ML", "AI"] return?

lst =["Python", "ML", "AI"]
print("SQL" in lst)

False

###  Indexing and Slicing

In [2]:
# 26 How do you get the first three elements from a = [10, 20, 30, 40, 50] using slicing?

a =  [10, 20, 30, 40, 50]
print(a[:3])

[10, 20, 30]

In [3]:
# 27 What is the output of a[::2] for a = [0, 1, 2, 3, 4, 5]?

a = [0, 1, 2, 3, 4, 5]
print(a[::2])

[0, 2, 4]

### Nested Lists (Minimal)

In [4]:
# 28 What is the output of a = [[1, 2], [3, 4]]; a[1][0]?

a = [[1, 2], [3, 4]]
print(a[1][0])

3

In [6]:
# 29 How do you access 4 in the list [[1, 2], [3, 4]]?

a = [[1, 2], [3, 4]]
print(a[1][1])

4

###  Min, Max, Sum

In [ ]:
# 30 find the largest number in the list [10, 20, 5].

lst = [10, 20, 5]
print(max(lst))

20

In [9]:
# 31 find the smallest number in the list [10, 20, 5].

lst = [10, 20, 5]
print(min(lst))

5

In [10]:
# 32 get the total of numbers in the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
print(len(lst))

4