### List-Based Questions

In [7]:
# 1.You’re creating a list of cities. Add a new city called "Delhi" and display the final list.

lst =['Vijayawada','Eluru','Vizag','Mumbai']
lst.append('Delhi')
lst

['Vijayawada', 'Eluru', 'Vizag', 'Mumbai', 'Delhi']

In [8]:
# Start with two lists: one has [1, 2, 3], and another has [4, 5, 6]. Combine them into one and print the result.

lst1= [1,2,3]
lst2=[4,5,6]
print(lst1+lst2)

[1, 2, 3, 4, 5, 6]

In [14]:
# In the list [10, 20, 30], place the number 99 in the second position (index 1) and show the updated list.

lst = [10, 20, 30]
lst[1]=99
print(lst)

[10, 99, 30]

In [17]:
# A fruit basket list contains ["apple", "banana", "cherry"]. Take out only "apple" from it and print what remains.

lst = ["apple", "banana", "cherry"]
lst.pop(0)
lst

['banana', 'cherry']

In [19]:
# You have [100, 200, 300, 400]. Remove the last item from this list, show the value that was removed, and display the new list.
lst = [100, 200, 300, 400]
print(lst.pop())
print(lst)

400
[100, 200, 300]

In [21]:
# From the list ["dog", "cat", "parrot", "cat"], find where the first "cat" appears (give its position/index).

lst = ["dog", "cat", "parrot", "cat"]
print(lst.index('cat'))

1

In [22]:
# How many times does the number 7 appear in this list: [7, 3, 7, 1, 7, 9]? Count and print it.

lst = [7, 3, 7, 1, 7, 9]
lst.count(7)

3

In [24]:
# Rearrange the numbers in this list [5, 2, 9, 1, 7] from smallest to largest and print them.


lst = [5, 2, 9, 1, 7]
lst.sort()
lst

[1, 2, 5, 7, 9]

In [25]:
# You have a sequence [1, 2, 3, 4, 5]. Flip it so the order is reversed, and then show the result.

lst= [1, 2, 3, 4, 5]
lst.sort(reverse=True)
lst

[5, 4, 3, 2, 1]

In [1]:
# Duplicate the list ["red", "green", "blue"] into a new one. Then modify the original and prove the copy remains unaffected.
colors = ["red", "green", "blue"]
copy_colors = colors.copy()
colors.append("yellow")
print("original:",colors)
print("copy:",copy_colors)

original: ['red', 'green', 'blue', 'yellow']
copy: ['red', 'green', 'blue']

In [27]:
# Remove all items from the list [10, 20, 30] so that it becomes an empty list, and print the result.

lst =  [10, 20, 30]
lst.clear()
lst

[]

### Tuple-Based Questions

In [2]:
#From the tuple colors = ('red', 'blue', 'green', 'red', 'yellow', 'red'), how many times does "red" appear?

colors = ('red', 'blue', 'green', 'red', 'yellow', 'red')
print(colors.count('red'))

3

In [3]:
## 2.Where (at what index) does "green" appear in the tuple ('red', 'blue', 'green', 'yellow')?
colors=('red', 'blue', 'green', 'yellow')
colors.index('green')

2

### Set-Based Questions

In [4]:
# 1.A set of fruits contains {'apple', 'banana'}. Add a new fruit "cherry" into it and display the result.
fruits= {'apple', 'banana'}
fruits.add('cherry')
fruits

{'apple', 'banana', 'cherry'}

In [5]:
# 2.You have two sets: {'apple'} and {'orange', 'grape'}. Add all items from the second set into the first and show the new set.
fruits1={'apple'}
fruits2={'orange', 'grape'}
fruits1.union(fruits2)

{'apple', 'grape', 'orange'}

In [6]:
# 3.From the set {'apple', 'banana', 'cherry'}, remove "banana" and show the result.
fruits={'apple', 'banana', 'cherry'}
fruits.remove('banana')
fruits

{'apple', 'cherry'}

In [7]:
# 4.Take out "apple" from the set {'apple', 'grape'} and print what’s left.
fruits={'apple', 'grape'} 
fruits.remove('apple')
fruits

{'grape'}

In [9]:
# 5.From the set {'red', 'green', 'blue'}, take out any one element, store it in a variable, and print both the removed item and the updated set.
colors = {'red', 'green', 'blue'}
print(colors.pop())

print("Updated set:", colors)

blue
Updated set: {'green', 'red'}

In [10]:
# 6.You have a set {1, 2, 3, 4}. Clear all its elements and print the now-empty set.
numbers={1, 2, 3, 4}
numbers.clear()
numbers

set()

In [11]:
# 7.Make a copy of the set {1, 2, 3}, store it in another variable, and print both to show they are identical but independent.
set1={1, 2, 3}
set2=set1.copy()
print(set1)
print(set2)

{1, 2, 3}
{1, 2, 3}

In [12]:
# 8.Identify which elements are in {1, 2, 3, 4} but not in {3, 4, 5, 6}
elements1={1, 2, 3, 4} 
elements2={3, 4, 5, 6}
result=elements1-elements2
print(result)

{1, 2}

In [13]:
# 9.Combine all elements from two sets: {'x', 'y'} and {'y', 'z'} and print the combined version.
set1= {'x', 'y'} 
set2={'y', 'z'} 
set1.union(set2)

{'x', 'y', 'z'}

In [14]:
# 10.Print only those numbers that appear in both sets: {10, 20, 30} and {20, 40, 60}.
set1={10, 20, 30}
set2={20, 40, 60}
set1.intersection(set2)

{20}

In [15]:
# 11.Verify whether all elements of {1, 2} are also present in {1, 2, 3, 4}.
elements1={1, 2}
elements2={1,2,3,4}
print(elements1.issubset(elements2))

True

In [16]:
# 12.Check whether {1, 2, 3} contains all elements from {2, 3}.
set1={1, 2, 3}
set2={2, 3}
print(set1.issuperset(set2))

True

In [17]:
# 13 Show which items are not shared between a = {1, 2, 3} and b = {3, 4, 5}.
a={1, 2, 3}
b={3, 4, 5}
result = a.symmetric_difference(b)
result

{1, 2, 4, 5}

In [6]:
def dice_battle(p1,p2):
    if not (1<=p1<=6 and 1<=p2<=6):
        return 'invaild'
    if(p1>p2):
        return 'Player 1 wins'
    if(p1<p2):
        return 'Player 2 wins'
    if(p1==p2):
        return 'Draw'

In [7]:
dice_battle(0,5)

'invaild'