### WHILE LOOP QUESTIONS

1. Countdown Printer
 Test Case 1  
 Input: -10  
 Output:  
 10 9 8 7 6 5 4 3 2 1  
 Test Case 2  
 Input: -5  
 Output:  
 5 4 3 2 1  
 Test Case 3  
 Input: -3  
 Output:  
 3 2 1

In [1]:
def countdown(num):
    while num>0:
        print(num,end = ' ')
        num-=1

In [2]:
countdown(10)

10 9 8 7 6 5 4 3 2 1

In [3]:
countdown(5)

5 4 3 2 1

In [4]:
countdown(3)

3 2 1

2. Sum of Even Numbers  
 Test Case 1  
 Input: Range 1..50  
 Output:  
 Sum = 650  
 Test Case 2  
 Input: Range 1..10  
 Output:  
 Sum = 30  
 Test Case 3  
 Input: Range 1..100   
 Output:  
 Sum = 2550

In [26]:
def sum_even(num):
    i=1
    sum =0
    while num>=i:
        if i%2==0:
            sum+=i
        i+=1
    print(sum)

In [27]:
sum_even(50)

650

In [28]:
sum_even(10)

30

In [29]:
sum_even(100)

2550

3. Digit Counter  
 Test Case 1  
 Input: 40856  
 Output:  
 Digits = 5  
 Test Case 2  
 Input: 7  
 Output:  
 Digits = 1  
 Test Case 3  
 Input: 1234567890  
 Output:  
 Digits = 10

In [30]:
def Digit(num):
    count=0
    while num>0:
        num//=10
        count+=1
    print(count)

In [31]:
Digit(40856)

5

In [32]:
Digit(7)

1

In [33]:
Digit(1234567890)

10

4. Repeated Addition (add 10 until ≥ 100)
 Test Case 1  
 Input: Start = 73  
 Output:  
 Final Number = 103  
 Test Case 2  
 Input: Start = 95  
 Output:  
 Final Number = 105  
 Test Case 3    
 Input: Start = 100  
 Output:  
 Final Number = 100

In [1]:
def Addition(num):
    while num<100:
        num+=10
    print('Final Number',num)

In [2]:
Addition(73)

Final Number 103

In [3]:
Addition(95)

Final Number 105

In [4]:
Addition(100)

Final Number 100

5. Table Generator (first 10 multiples)
 Test Case 1   
 Input: Number: 6  
 Output:  
 6 12 18 24 30 36 42 48 54 60  
 Test Case 2  
 Input: Number: 9  
 Output:  
 9 18 27 36 45 54 63 72 81 90  
 Test Case 3  
 Input: Number: 3  
 Output:  
 3 6 9 12 15 18 21 24 27 30

In [45]:
def Table(num):
    i=1
    while i<=10:
        print(num*i,end =' ')
        i+=1

In [46]:
Table(6)

6 12 18 24 30 36 42 48 54 60

In [47]:
Table(9)

9 18 27 36 45 54 63 72 81 90

In [48]:
Table(3)

3 6 9 12 15 18 21 24 27 30

6. Number Reverser
 Test Case 1  
 Input: Number: 12345  
 Output:  
 Reversed = 54321  
 Test Case 2  
 Input: Number: 400  
 Output:    
 Reversed = 4  
 Test Case 3  
 Input: Number: -120  
 Output:  
 Reversed = 21

In [5]:
def number_reverser(num):
    rev = 0
    while num > 0:
        digit = num % 10       
        rev = rev * 10 + digit 
        num //= 10             
    print('Reversed=',rev)


(number_reverser(12345))

Reversed= 54321

In [6]:
(number_reverser(400))

Reversed= 4

In [7]:
(number_reverser(-120))

Reversed= 0

7. Odd Number Collector  
 Test Case 1  
 Input: Start: 15 End: 25  
 Output:  
 15 17 19 21 23 25  
 Test Case 2  
 Input: Start: 2 End: 9  
 Output:  
 3 5 7 9  
 Test Case 3  
 Input: Start: 7 End: 7  
 Output:  
 7

In [ ]:
def odd_number(start_num,end_num):
    if start_num %2==0:
        start_num+=1
    while(start_num<=end_num):
        print(start_num,end =' ')
        start_num+=2

In [65]:
odd_number(15, 25)

15 17 19 21 23 25

In [66]:
odd_number(2, 9)

3 5 7 9

In [67]:
odd_number(7, 7)

7

8. Factorial Finder
 Test Case 1  
 Input: Number: 5  
 Output:  
 Factorial = 120  
 Test Case 2  
 Input: Number: 3  
 Output:  
 Factorial = 6  
 Test Case 3  
 Input: Number: 7  
 Output:  
 Factorial = 5040

In [15]:
def fact(num):
    product=1
    i=1
    while(num>=i):
        product*=i
        i+=1
    return f'Factorial {product}'

In [16]:
fact(5)

'Factorial 120'

In [17]:
fact(3)

'Factorial 6'

In [18]:
fact(7)

'Factorial 5040'

9. Divisible by 7 (list up to 200)
 Test Case 1  
 Input: Up to 200  
 Output:
 7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196
 Test Case 2  
 Input: Up to 50  
 Output:
 7 14 21 28 35 42 49
 Test Case 3  
 Input: Up to 30  
 Output:
 7 14 21 28

In [78]:
def Divisible7(num):
    i =7
    while i<=num:
        print(i,end =' ')
        i+=7

In [79]:
Divisible7(200)

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196

In [80]:
Divisible7(50)

7 14 21 28 35 42 49

In [81]:
Divisible7(30)

7 14 21 28

10. First N Squares
 Test Case 1  
 Input: N = 5  
 Output:
 1 4 9 16 25  
 Test Case 2   
 Input: N = 3  
 Output:
 1 4 9  
 Test Case 3  
 Input: N = 7  
 Output:
 1 4 9 16 25 36 49

In [82]:
def Square(num):
    i=1
    while(i<=num):
        print(i**2,end =' ')
        i+=1

In [83]:
Square(5)

1 4 9 16 25

In [84]:
Square(3)

1 4 9

In [85]:
Square(7)

1 4 9 16 25 36 49

11. Sum of Digits  
 Test Case 1  
 Input: Number: 928
 Output:
 Sum = 19  
 Test Case 2  
 Input: Number: 1001
 Output:
 Sum = 2  
 Test Case 3  
 Input: Number: 7
 Output:  
 Sum = 7

In [21]:
def sum_digit(num):
    sum=0
    while num>0:
        digit =num%10
        sum+=digit
        num=num//10
    return sum

In [22]:
print('Sum =',sum_digit(928))

Sum = 19

In [23]:
print('Sum =',sum_digit(1001))

Sum = 2

In [24]:
print('Sum=',sum_digit(7))

Sum= 7

12. Cumulative Product (product 1..n)
 Test Case 1  
 Input: Product 1..7  
 Output: 
 Final Product = 5040  
 Test Case 2  
 Input: Product 1..5  
 Output:
 Final Product = 120  
 Test Case 3  
 Input: Product 1..3  
 Output:
 Final Product = 6

In [106]:
def Product(num):
    start =1
    mul=1
    while(start<=num):
        mul*=start
        start+=1
    return mul

In [107]:
print('Final Product=',Product(7))

Final Product= 5040

In [108]:
print('Final Product',Product(5))

Final Product 120

In [109]:
print('Final Product=',Product(3))

Final Product= 6

13. Power of Two Checker
 Test Case 1  
 Input: Number: 64  
 Output:
 Yes, it's a power of two  
 Test Case 2  
 Input: Number: 20  
 Output:
 No   
 Test Case 3  
 Input: Number: 1  
 Output:
 Yes, it's a power of two

In [8]:
def is_power_of_two(n):
    if n <= 0:
        return "No"
    while n % 2 == 0:
        n = n // 2
    if n == 1:
        return "Yes, it's a power of two"
    else:
        return "No"

In [9]:
is_power_of_two(64)

"Yes, it's a power of two"

In [10]:
is_power_of_two(20)

'No'

In [11]:
is_power_of_two(1)

"Yes, it's a power of two"

14. Character Counter (stop on "STOP")  
 Test Case 1  
 Input: hello STOP  
 Output:
 Characters Entered = 5  
 Test Case 2  
 Input: hi there STOP  
 Output:
 Characters Entered = 7  
 Test Case 3  
 Input: abc STOP  
 Output:
 Characters Entered = 3

In [27]:
def ch_counter(sent):
    parts = sent.split('STOP')
    before_stop = parts[0].strip()
    count= len(before_stop.replace(' ',''))
    return f'Characters Entered = {count}'

In [28]:
ch_counter('hello STOP')

'Characters Entered = 5'

In [29]:
ch_counter('hi there STOP')

'Characters Entered = 7'

In [30]:
ch_counter('abc STOP')

'Characters Entered = 3'

15. Guess the Number  
(assume a secret — returns "Correct Guess!" if any guess matches the secret)
 Test Case 1  
 Input: Guess: 10, 20, 25 (secret 20)  
 Output:
 Correct Guess!  
 Test Case 2  
 Input: Guess: 5, 7, 9 (secret 7)  
 Output:
 Correct Guess!  
 Test Case 3  
 Input: Guess: 1, 2, 3 (secret 10)  
 Output:
 Try Again

In [34]:
def Guess(secret):
    while True:
        guess = eval(input('Enter the numbers'))
        print(guess)
        if  secret in guess:
            return 'Correct Guess!'
        else:
            return 'Try Again'

In [35]:
Guess(20)

(10, 20, 25)

'Correct Guess!'

In [36]:
Guess(7)

(5, 7, 9)

'Correct Guess!'

In [37]:
Guess(10)

(1, 2, 3)

'Try Again'

16. Decimal to Binary Converter
 Test Case 1  
 Input: Number: 13  
 Output:
 Binary = 1101  
 Test Case 2  
 Input: Number: 8  
 Output:
 Binary = 1000  
 Test Case 3  
 Input: Number: 1  
 Output:
 Binary = 1

In [41]:
def decimal_binary(n):
    binary=''
    while n>0:
        rem= n%2
        binary=str(rem)+binary
        n = n//2
    return f'Binary ={binary}'

In [42]:
decimal_binary(13)

'Binary =1101'

In [43]:
decimal_binary(8)

'Binary =1000'

In [44]:
decimal_binary(3)

'Binary =11'

17. First N Cubes  
 Test Case 1  
 Input: N = 4  
 Output:
 1 8 27 64  
 Test Case 2  
 Input: N = 1  
 Output:
 1  
 Test Case 3  
 Input: N = 6  
 Output:
 1 8 27 64 125 216

In [45]:
def cubes(n):
    i =1
    while(i<=n):
        print(i**3,end=' ')
        i+=1

In [46]:
cubes(4)

1 8 27 64

In [47]:
cubes(1)

1

In [48]:
cubes(6)

1 8 27 64 125 216

18. Number Palindrome Checker  
 Test Case 1  
 Input: Number: 1221  
 Output:  
 Palindrome  
 Test Case 2  
 Input: Number: 1234  
 Output:
 Not Palindrome  
 Test Case 3  
 Input: Number: 7  
 Output:
 Palindrome

In [51]:
def is_palindrome(n):
    temp = n
    rev =0
    while n>0:
        rem = n%10
        rev = rev*10+rem
        n = n//10
    
    if temp==rev:
        return "Palindrome"
    else:
        return 'Not Palindrome'

In [52]:
is_palindrome(1221)

'Palindrome'

In [53]:
is_palindrome(1234)

'Not Palindrome'

In [54]:
is_palindrome(7)

'Palindrome'

19. Sum Until Negative  
 Test Case 1  
 Input: 5 8 10 -1  
 Output:
 Sum = 23  
 Test Case 2  
 Input: 1 2 3 0 -5  
 Output:
 Sum = 6  
 Test Case 3  
 Input: -1  
 Output:
 Sum = 0

In [57]:
def  sum_until_negative(n):
    total =0
    i =0
    while(i<len(n) and n[i]>=0):
        total += n[i]
        i+=1
    return f'Sum ={total}'

In [58]:
sum_until_negative([5,8,10,-1])

'Sum =23'

In [59]:
sum_until_negative([1, 2, 3, 0, -5])

'Sum =6'

In [60]:
sum_until_negative([-1])

'Sum =0'

20. Prime Number Finder  
 Test Case 1  
 Input: Number: 17  
 Output:
 Prime  
 Test Case 2  
 Input: Number: 18  
 Output:
 Not Prime  
 Test Case 3  
 Input: Number: 2

In [67]:
def prime_num(n):
    if n==1:
        return 'Not Prime'
    i=2
    while i<n:
        if n%i==0:
            return 'Not Prime'
        else:
            return 'Prime'
        i+=1
    return "Prime"

In [68]:
prime_num(17)

'Prime'

In [69]:
prime_num(18)

'Not Prime'

In [70]:
prime_num(2)

'Prime'

21. Series Generator (odd numbers)  
 Test Case 1  
 Input: N = 6  
 Output:
 1 3 5 7 9 11  
 Test Case 2  
 Input: N = 3  
 Output:
 1 3 5  
 Test Case 3  
 Input: N = 1  
 Output:
 1

In [71]:
def Odd_series(n):
    i = 1
    count=0
    while count<n:
        print(i,end=' ')
        i+=2
        count+=1

In [72]:
Odd_series(6)

1 3 5 7 9 11

In [73]:
Odd_series(3)

1 3 5

In [74]:
Odd_series(1)

1

22. Repeated Subtraction (subtract fixed amount until remainder)  
(Example uses subtract 7 until < 7)  
 Test Case 1  
 Input: Number: 45 (subtract 7)  
 Output:
 Final Value = 3  
 Test Case 2  
 Input: Number: 20 (subtract 6)  
 Output:
 Final Value = 2  
 Test Case 3  
 Input: Number: 13 (subtract 5)  
 Output:
 Final Value = 3

In [75]:
def repeated_subtraction(n,s):
    while n>=s:
        n-=s
    return f'Final Value ={n}'

In [76]:
repeated_subtraction(45,7)

'Final Value =3'

In [77]:
repeated_subtraction(20,6)

'Final Value =2'

In [78]:
repeated_subtraction(13,5)

'Final Value =3'

23. LCM Calculator  
 Test Case 1  
 Input: A = 12, B = 15  
 Output:
 LCM = 60  
 Test Case 2  
 Input: A = 7, B = 5  
 Output:
 LCM = 35  
 Test Case 3  
 Input: A = 8, B = 12  
 Output:
 LCM = 24

In [79]:
def LCM(n1,n2):
    result = max(n1,n2)

    while True:
        if result %n1 ==0 and result%n2==0 :
            return f'LCM={result}'
        result+=1

In [80]:
print(LCM(12, 15))

LCM=60

In [81]:
print(LCM(7, 5))

LCM=35

In [82]:
print(LCM(8, 12))

LCM=24

In [2]:
def sqrt_floor(num):
    i = 0
    while i * i <= num:
        i += 1
    return f"Approximate Square Root = {i-1}"

In [3]:
print(sqrt_floor(20))

Approximate Square Root = 4

In [4]:

print(sqrt_floor(16))

Approximate Square Root = 4

In [5]:

print(sqrt_floor(2))

Approximate Square Root = 1

25. Password Retry    
(returns "Access Granted" if correct password appears in attempts)  
 Test Case 1  
 Input: pass123, admin, letmein (correct=admin)  
 Output:
 Access Granted  
 Test Case 2  
 Input: 1234, password, letmein (correct=letmein)  
 Output:
 Access Granted  
 Test Case 3  
 Input: a, b, c (correct=secret)  
 Output:
 Access Denied

In [6]:
def password_retry(attempts, correct):
    i = 0
    while i < len(attempts):
        if attempts[i] == correct:
            return "Access Granted"
        i += 1
    return "Access Denied"

In [7]:
password_retry(["pass123", "admin", "letmein"], "admin")

'Access Granted'

In [8]:
password_retry(["1234", "password", "letmein"], "letmein")

'Access Granted'

In [9]:
password_retry(["a", "b", "c"], "secret")

'Access Denied'

### FOR LOOP QUESTIONS


1. Print Alphabets  
 Test Case 1  
 Input: –
 Output:  
 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
 Test Case 2
 Input: lower  
 Output:
 a b c d e f g h i j k l m n o p q r s t u v w x y z  
 Test Case 3  
 Input: A..F  
 Output:
 A B C D E F

In [16]:
def alphabets(s,e):
    for i in range(s,e):
        print(chr(i),end =' ')

In [17]:
alphabets(65,91)

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [18]:
alphabets(97,122)

a b c d e f g h i j k l m n o p q r s t u v w x y

In [20]:
alphabets(65, 71)

A B C D E F

2. Sum of First N Numbers  
 Test Case 1  
 Input: N = 10  
 Output:
 Sum = 55  
 Test Case 2  
 Input: N = 5  
 Output:
 Sum = 15  
 Test Case 3  
 Input: N = 1  
 Output:
 Sum = 1

In [24]:
def sum_n_number(s,t):
    sum = 0
    for i in range(s,t+1):
        sum+=i
    print(sum)

In [25]:
sum_n_number(1,10)

55

In [26]:
sum_n_number(1,5)

15

In [28]:
sum_n_number(1,1)

1

3. Factorial with For  
 Test Case 1  
 Input: Number: 6  
 Output:
 Factorial = 720  
 Test Case 2  
 Input: Number: 4  
 Output:
 Factorial = 24  
 Test Case 3  
 Input: Number: 0  
 Output:
 Factorial = 1

In [35]:
def fact(s,e):
    product= 1
    for i in range(s,e+1):
        product*=i
    print(product)

In [36]:
fact(1,6)

720

In [37]:
fact(1,4)

24

In [38]:
fact(1,1)

1

4. Count Vowels  
 Test Case 1  
 Input: Education
 Output:  
 Vowels = 5  
 Test Case 2  
 Input: Sky  
 Output:
 Vowels = 0  
 Test Case 3  
 Input: AEIOU  
 Output:
 Vowels = 5

In [41]:
def Count_vowels(s):
    s=s.lower()
    v= 'aeiou'
    count=0
    for i in s:
        if i in v:
            count+=1
    print(count)

In [42]:
Count_vowels('Education')

5

In [43]:
Count_vowels('Sky')

0

In [44]:
Count_vowels('AEIOU')

5

5. Multiples of 3  
 Test Case 1  
 Input: –  
 Output:
 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99  
 Test Case 2  
 Input: limit=30  
 Output:
 3 6 9 12 15 18 21 24 27 30  
 Test Case 3  
 Input: limit=15  
 Output:
 3 6 9 12 15

In [47]:
def Mul3(limit):
    for i in range(3,limit+1,3):
        print(i,end=' ')

In [48]:
Mul3(100)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [49]:
Mul3(30)

3 6 9 12 15 18 21 24 27 30

In [50]:
Mul3(15)

3 6 9 12 15

6. Power Table (powers of base)  
 Test Case 1  
 Input: – (2^1..2^10)
 Output:  
 2 4 8 16 32 64 128 256 512 1024  
 Test Case 2  
 Input: base=3,count=6  
 Output:  
 3 9 27 81 243 729  
 Test Case 3  
 Input: base=5,count=5  
 Output:  
 5 25 125 625 3125

In [51]:
def power1(base,count):
    for i in range(1,count+1):
        print(base**i,end =' ')

In [52]:
power1(2,10)

2 4 8 16 32 64 128 256 512 1024

In [53]:
power1(3,6)

3 9 27 81 243 729

In [54]:
power1(5,5)

5 25 125 625 3125

7. List Reverser  
 Test Case 1  
 Input: List: [10, 20, 30, 40]  
 Output:
 [40, 30, 20, 10]  
 Test Case 2  
 Input: List: [1, 2, 3]  
 Output:
 [3, 2, 1]  
 Test Case 3  
 Input: List: []  
 Output:
 []

In [55]:
def Reverse(lst):
    Reverse=[]
    for i in range(len(lst)-1,-1,-1):
        Reverse.append(lst[i])
    print(Reverse)

In [56]:
Reverse([10,20,30,40])

[40, 30, 20, 10]

In [57]:
Reverse([1, 2, 3])

[3, 2, 1]

In [58]:
Reverse([])

[]

8. ASCII Values Printer  
 Test Case 1  
 Input: String: Hi  
 Output:
 H: 72
 i: 105  
 Test Case 2  
 Input: String: A  
 Output:
 A: 65  
 Test Case 3  
 Input: String: aZ  
 Output:
 a: 97
 Z: 90

In [64]:
def ASCII_value(s):
    for i in s:
        print(i, ":", ord(i))

In [65]:
ASCII_value("Hi")

H : 72
i : 105

In [66]:
ASCII_value('A')

A : 65

In [67]:
ASCII_value('aZ')

a : 97
Z : 90

9. Even Index Characters  
 Test Case 1  
 Input: String: Python  
 Output:
 P t o  
 Test Case 2  
 Input: String: Hello  
 Output:
 H l o  
 Test Case 3  
 Input: String: A
 Output:
 A

In [70]:
def Even_index_char(A):
    for i in range(0,len(A),2):
        print(A[i],end = ' ' )

In [71]:
Even_index_char('Python')

P t o

In [72]:
Even_index_char("Hello")

H l o

In [73]:
Even_index_char("A")

A

10. Sum of Odd Numbers (odd ≤ N)  
 Test Case 1  
 Input: N = 10  
 Output:
 Sum = 25  
 Test Case 2  
 Input: N = 5  
 Output:
 Sum = 9  
 Test Case 3  
 Input: N = 1
 Output:
 Sum = 1

In [80]:
def Sum_Odd_number(n):
    sum=0
    for i in range(n+1):
        if i%2!=0:
            sum+=i
    print(sum)

In [81]:
Sum_Odd_number(10)

25

In [82]:
Sum_Odd_number(5)

9

In [83]:
Sum_Odd_number(1)

1

11. Perfect Square Checker  
 Test Case 1  
 Input: Number: 49  
 Output:
 Perfect Square  
 Test Case 2  
 Input: Number: 50  
 Output:
 Not Perfect Square  
 Test Case 3  
 Input: Number: 1  
 Output:
 Perfect Square

In [1]:
def perfect_square_checker(num):
    for i in range(num + 1):  
        if i * i == num:
            return "Perfect Square"
    return "Not Perfect Square"

In [2]:
perfect_square_checker(49)

'Perfect Square'

In [3]:
perfect_square_checker(50)

'Not Perfect Square'

In [4]:
perfect_square_checker(1)

'Perfect Square'

12. Prime Numbers Up to N  
 Test Case 1  
 Input: N = 20  
 Output:
 2 3 5 7 11 13 17 19 
 Test Case 2 
 Input: N = 10 
 Output:
 2 3 5 7  
 Test Case 3  
 Input: N = 2  
 Output:
 2

In [ ]:
def is_prime(num):
    if num<=1:
        return 'Not Prime'
    for i in range(2,num):
        if num%i==0:
            return

In [2]:
is_prime(20)

2

13. Fibonacci Series  
 Test Case 1  
 Input: N = 7
 Output:
 0 1 1 2 3 5 8  
 Test Case 2  
 Input: N = 1
 Output:
 0  
 Test Case 3  
 Input: N = 5
 Output:
 0 1 1 2 3

In [1]:
def fab(n):
    a,b =0,1
    for i in range(n):
        print(a,end = ' ')
        a,b = b,a+b

In [2]:
fab(7)

0 1 1 2 3 5 8

In [3]:
fab(1)

0

In [4]:
fab(5)

0 1 1 2 3

In [5]:
def is_armstrong(n):
    digits = str(n)
    power = len(digits)
    s = 0
    for i in digits:
        s+=int(i)**power
        
    

    if s==n:
        print('Armstrong')
    else:
        print('Not Armstrong')

In [6]:
is_armstrong(153)

Armstrong

In [7]:
is_armstrong(370)

Armstrong

In [8]:
is_armstrong(123)

Not Armstrong

15. Frequency Counter  
 Test Case 1   
 Input: List: [2, 3, 2, 5, 2] Find: 2  
 Output:
 Count = 3  
 Test Case 2  
 Input: List: [1, 1, 1] Find: 1  
 Output:
 Count = 3  
 Test Case 3  
 Input: List: [] Find: 5  
 Output:
 Count = 0

In [9]:
def f_counter(lst,find_n):
    count=0
    for i in lst:
        if i==find_n:
            count+=1
    print(f'Count = {count}')

In [10]:
f_counter([2, 3, 2, 5, 2] ,2)

Count = 3

In [11]:
f_counter([1, 1, 1] ,1)

Count = 3

In [12]:
f_counter([],5)

Count = 0

16. Sum of Digits with For  
 Test Case 1   
 Input: Number: 562  
 Output:
 Sum = 13  
 Test Case 2  
 Input: Number: 100  
 Output:
 Sum = 1  
 Test Case 3  
 Input: Number: 9  
 Output:
 Sum = 9

In [14]:
def sum_digits(n):
    sum=0
    for i in str(n):
        sum+=int(i)
    print('Sum =',sum)

In [16]:
sum_digits(562)

Sum = 13

In [17]:
sum_digits(100)

Sum = 1

In [18]:
sum_digits(9)

Sum = 9

17. Star Pattern Triangle  
 Test Case 1  
 Input: N = 4  
 Output:
 *   
 **  

 Test Case 2  
 Input: N = 1  
 Output: 
 *  
 Test Case 3  
 Input: N = 3  
 Output:
 *
 **

In [21]:
def triangle(n):
    for i in range(1,n+1):
        print('*'*i,end=' ')
        print()

In [22]:
triangle(4)

*
**
***
****

In [23]:
triangle(1)

*

In [24]:
triangle(3)

*
**
***

18. Common Elements Finder  
 Test Case 1  
 Input: List1 = [1, 2, 3], List2 = [2, 3, 4]  
 Output:
 [2, 3]    
 Test Case 2  
 Input: List1 = [5, 6], List2 = [7, 8]  
 Output:
 []  
 Test Case 3  
 Input: List1 = [1, 2, 2], List2 = [2]
 Output:
 [2]

In [27]:
def common_elements(l1,l2):
    common=[]
    for i in l1:
        if i in l2:
            common.append(i)
    print(common)

In [28]:
common_elements(  [1, 2, 3],[2, 3, 4])

[2, 3]

In [29]:
common_elements( [5, 6], [7, 8])

[]

In [30]:
common_elements([1, 2, 2], [2])

[2, 2]

19. Cube of Numbers (first n cubes)  
 Test Case 1  
 Input: –  
 Output:
 1 8 27 64 125 216 343 512 729 1000  
 Test Case 2  
 Input: first 5  
 Output:
 1 8 27 64 125  
 Test Case 3  
 Input: first 3  
 Output:
 1 8 27

In [31]:
def cube_number(n):
    for i in range(1,n+1):
        print(i**3,end = ' ')

In [32]:
cube_number(10)

1 8 27 64 125 216 343 512 729 1000

In [33]:
cube_number(5)

1 8 27 64 125

In [34]:
cube_number(3)

1 8 27

20. Palindrome Word Checker  
 Test Case 1  
 Input: Word: level  
 Output:  
 Palindrome  
 Test Case 2  
 Input: Word: hello  
 Output:
 Not Palindrome  
 Test Case 3  
 Input: Word: madam  
 Output:
 Palindrome

In [35]:
def is_palindrome(word):
    length = len(word)
    flag = True
    for i in range(length // 2):
        if word[i] != word[length - i - 1]:
            flag = False
            break
    if flag:
        print("Palindrome")
    else:
        print("Not Palindrome")

In [37]:
is_palindrome('level')

Palindrome

In [38]:
is_palindrome('hello')

Not Palindrome

In [39]:
is_palindrome("madam")

Palindrome

21. Number Pyramid  
 Test Case 1  
 Input: N = 4  
 Output:
 1  
 1 2  
 1 2 3  
 1 2 3 4    
 Test Case 2  
 Input: N = 2  
 Output:  
 1  
 1 2  
 Test Case 3  
 Input: N = 1  
 Output:
 1

In [43]:
def number_pyramid(N):
    for i in range(1, N + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        print()

In [45]:
number_pyramid(4)

1
1 2
1 2 3
1 2 3 4

In [46]:
number_pyramid(2)

1
1 2

In [47]:
number_pyramid(1)

1

22. Greatest Number in List  
 Test Case 1  
 Input: [10, 35, 7, 99]  
 Output:
 Greatest = 99  
 Test Case 2  
 Input: [1, 2, 3]  
 Output:
 Greatest = 3  
 Test Case 3    
 Input: [-5, -2, -9]  
 Output:
 Greatest = -2

In [52]:
def max_num(lst):
    greater = lst[0]
    for i in lst:
        if i>greater:
            greater= i
    print('Greater = ',greater)

In [53]:
max_num([10, 35, 7, 99])

Greater =  99

In [54]:
max_num([1, 2, 3])

Greater =  3

In [55]:
max_num([-5, -2, -9])

Greater =  -2

23. Sum of Series (harmonic sum)
(H_n = 1 + 1/2 + 1/3 + ... + 1/n)  
 Test Case 1  
 Input: N = 5  
 Output:  
 Sum = 2.2833  
 Test Case 2  
 Input: N = 3  
 Output:  
 Sum = 1.8333  
 Test Case 3  
 Input: N = 1  
 Output:
 Sum = 1.0000

In [56]:
def H_sum(n):
    total= 0
    for i in range(1,n+1):
        total+=1/i
    print(f"Sum = {total:.4f}")

In [57]:
H_sum(5)

Sum = 2.2833

In [58]:
H_sum(3)

Sum = 1.8333

In [59]:
H_sum(1)

Sum = 1.0000

24. Character Frequency in String  
 Test Case 1  
 Input: String: apple  
 Output:
 a:1 e:1 l:1 p:2  
 Test Case 2  
 Input: String: banana  
 Output:
 a:3 b:1 n:2  
 Test Case 3  
 Input: String: a 
 Output:
 a:1

In [61]:
def frequency(word):
    freq = {}
    for i in word:
        if i in freq:
            freq[i]+=1
        else:
            freq[i]=1
    print(freq)

In [62]:
frequency('apple')

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [63]:
frequency('banana')

{'b': 1, 'a': 3, 'n': 2}

In [65]:
frequency('a')

{'a': 1}

25. Square Matrix Diagonal Sum  
 Test Case 1  
 Input: Matrix:  
 1 2 3  
 4 5 6  
 7 8 9  
 Output:  
 Diagonal Sum = 15  
 Test Case 2  
 Input: Matrix:  
 2 0  
 0 3  
 Output:  
 Diagonal Sum = 5  
 Test Case 3  
 Input: Matrix:  
 5  
 Output:  
 Diagonal Sum = 5

In [72]:
def dia_sum(matrix):
    n = int(len(matrix) ** 0.5)  
    total = 0
    for i in range(n):
        total += matrix[i * n + i]  
    print(f"Diagonal Sum = {total}")

In [73]:
dia_sum([1, 2, 3, 4, 5, 6, 7, 8, 9])

Diagonal Sum = 15

In [74]:
dia_sum([2, 0, 0, 3])

Diagonal Sum = 5

In [75]:
dia_sum([5])

Diagonal Sum = 5